<div class="d-flex align-items-center justify-content-center vh-100 section-notfound">
    <div class="text-center">
        <p class="fs-3">
            <img src="https://agentestudio.com/uploads/post/image/69/main_how_to_design_404_page.png" class="img-fluid" alt="image"  width="550">
        </p>
        <h1 class="display-1 fw-bold text-danger">404</h1>
        <p class="fs-3 text-light"> <span class="text-danger">Oops!</span> Page not found</p>
        <p class="lead text-light">
            The page you are looking for doesn’t exist.
        </p>
        <a href="/" class="btn btn-danger">Go To Home Page</a>
    </div>
</div>